* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #fcfcfc;
  height: 100vh;
}
.container {
  background-color: #ffffff;
  width: 90%;
  max-width: 34.37em;
  position: relative;
  margin: 3.12em auto;
  padding: 3.12em 1.25em;
  border-radius: 0.43em;
  box-shadow: 0 1.25em 2.18em rgb(1, 28, 71, 0.3);
}
input[type='file'] {
  display: none;
}
.labels {
  display: block;
  position: relative;
  background-color: #8c52ff;
  color: #ffffff;
  font-size: 1.12em;
  font-weight: 500;
  text-align: center;
  width: 18.75em;
  padding: 1.12em 0;
  margin: auto;
  border-radius: 0.31em;
  cursor: pointer;
}
#num-of-files {
  font-weight: 400;
  text-align: center;
  margin: 1.25em 0 1.87em 0;
}
ul {
  list-style-type: none;
}
.container li {
  font-weight: 500;
  background-color: #eff5ff;
  color: #8c52ff;
  margin-bottom: 1em;
  padding: 1.1em 1em;
  border-radius: 0.3em;
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: left;
  margin: 20px;
}
/* CSS styles for the button */

.convert-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #8c52ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
  bottom: 1;
  left: 47%;
}

/* Hover effect */
.convert-btn:hover {
  background-color: #000000;
}
/*checkbox*/
.loading {
  cursor: progress;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.text-area-container {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing of the textarea */
}

textarea:focus {
  border-color: #8c52ff; /* Change border color on focus */
  outline: none; /* Remove default focus outline */
}
